
<div id="Container" class="container">
    <div class="row">
        
        <div class="col-lg-2">
            </div>
        <div class="col-lg-8">
            
            <input placeholder="First Name" ng-model="User.FirstName" type="text" class="form-control" />
            <input placeholder="Last Name" type="text" ng-model="User.LastName" class="form-control" />
            <input placeholder="Email Address" ng-model="User.Email" type="text" class="form-control" />
            <input placeholder="Mobile Number" ng-model="User.MobileNumber" type="text" class="form-control" />
            <input placeholder="Password" ng-model="User.Password" type="password" class="form-control" />
            <input placeholder="Confirm Password" type="password" class="form-control" />
            
           
            <a href="#/Login" class="btn btn-success" ng-click="RegisterUser()" style="margin-top: 20px">Submit</a>
            <a href="#/" type="button" class="btn btn-warning" style="margin-top: 20px">Cancel</a>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>